body{
  font-family: Arial;
}
body{
  background-color: lightgrey;
}
a:hover{
  text-decoration: underline;
  color: black;
}
a{
  text-decoration: none;
  color: lightgrey
}
.zold{
  color: black
}
.courier{
  font-family: courier;
}
.link{
  display: inline-block;
  background-color: black;
  padding: 2px;
  margin-left: 90px;
  border-radius: 3px;
}
.link:hover{
  background-color: lightblue;
}
.link:first-child{
  margin-left: 0px;
}
