body{
  font-family: Arial;
}
body{
  background: linear-gradient(to right, white 0%, grey 100%);
}
a:hover{
  text-decoration: underline;
  color: black;
}
a{
  text-decoration: none;
  color: lightgrey;
}
.zold{
  color: green;
}
.courier{
  font-family: 'Courier';
}
.link{
  display: inline-block;
  background-color: black;
  padding: 2px;
  margin-left: 10px;
  border-radius: 3px;
}
.link:hover{
  background-color: lightgrey;
}
.link:first-child{
  margin-left: 0px;
}
