body{
  font-family: Arial;
}
body{
  background: lightgrey;
}
a:hover{
  text-decoration: underline;
  color: black;
}
a{
  text-decoration: none;
  color: lightgrey;
}
.zold{
  color: green;
}
.courier{
  font-family: 'Courier';
}
.link{
  display: inline-block;
  background-color: black;
  padding: 2px;
  margin-left: 10px;
  border-radius: 3px;
}
.link:hover{
  background-color: lightgrey;
}
.link:first-child{
  margin-left: 0px;
}
.ul{
  background-color: black
}
.p{
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
}
header ul li{
  display:inline-block;
  backgroun-color: black;
