body{
    background-image: url(amogus.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#center{
    text-align: center;
    color: yellow;
}
.link{
    display: inline-block;
    color: black;
    padding: 3px;
    background-color: white;
    margin: 5px;
    border: groove black 1px;
    border-radius: 4px;
}
.link:hover{
    background-color: grey;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: white;
}